body{
	background-color: lightblue;
	font-family: title;
}

@font-face{
	font-family: title;
	src: url(font/data-latin.ttf);
}

#container{
	width: 920px;
	margin: auto;
	padding-top: 50px;
}

#title{
	font-family: title;
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
}

.errorLabel{
	color: red;
	font-size: 15px;
}

#submitButton{
	margin-top: 10px;
	background-color: red;
	padding: 5px;
	font-size: 20px;
	color: lightblue;
	border: solid 2px black;
	border-radius: 5px;
}