body h1{
	text-align: center;
}
#width{
	margin: auto;
	width: 880px;
}
.space{
	margin: 10px;
}
.float{
	float: left;
}
.long{
	width: 400px;
}
#Address{
	height: 80px;
}
.class{
	clear: both;
}
.red{
	color: red;
	
}