body{
	margin:auto;
	background: #aa00ff;
	font-family: sans-serif;
}
.lineone u{
	margin-left:10px;
}
.linetwo{
	text-align: center;
	font-family: arial black;
	font-size: 2em;
}
.marginleft{
	margin-left: 35%;
}
.save{
	color: cyan;
	background-color: purple;
	border:solid 2px blue;
}

.cancel{
	color: #00f3ff;
	background-color: purple;
	border:solid 2px blue;
}
.button{
	padding: 10px 0px;
	width: 177px;
}
.inputcheck{
	color:red;
	font-size: 1.2em;
}